/************ GENERAL/ LAYOUT ************/

:root {
  --bg-main: #f8f7f4;
  --keys-white: white;
  --keys-black: black;
  --accent: #95312e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  background: var(--bg-main);
  background-image: url("images/grunge_detailed_dusty_overlay_texture_2804.jpg");
  background-repeat: repeat;
  background-size: 300px;
  background-blend-mode: color-burn;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

h1:hover {
  color: var(--accent);
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover,
button:hover {
  color: var(--accent);
}

main {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1610282594974-03cf1dacc68b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDYwNTgwMzB8&ixlib=rb-4.0.3&q=85);
  background-size: cover;
  background-position: center;
  color: white;
}

main a {
  border-radius: 2px;
  padding: 0.125rem;
  color: white;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-thickness: 1px;
}

footer {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: none;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

footer ul svg {
  width: 2rem;
  height: 2rem;
}

footer ul li {
  fill: var(--bg-main);
}

/************ PIANO ************/
.piano {
  grid-column: 1 / 3;
}

figcaption {
  font-size: 0.8rem;
  backdrop-filter: blur(10px);
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.piano-keys {
  list-style: none;
  display: flex;
  height: 8rem;
}
.keys {
  display: flex;
}
.white,
.black {
  outline: 1px solid var(--keys-black);
  display: inline-block;
  box-shadow: 0px 0px 4px var(--keys-black);
}

.black {
  background-color: var(--keys-black);
  height: 6rem;
  width: 1rem;
  position: absolute;
  margin-left: 1.5rem;
  z-index: 2;
  border-radius: 0 0 0.1rem 0.1rem;
}

.white {
  background-color: var(--keys-white);
  width: 2rem;
}

.white:hover,
.black:hover {
  transform: translateY(1px);
  cursor: pointer;
}

/************ MODAL ************/
.modal {
  margin: auto;
  height: auto;
  width: auto;
  padding: 1rem;
}
.open,
.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.close {
  float: right;
  background: white;
  color: black;
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.sheet-music {
  grid-column: 1/3;
  width: 100%;
}
#embed {
  width: 100%;
  height: 100%;
}

/************ INTERACTIONS ************/

.hide {
  display: none;
  content-visibility: hidden;
}
.show {
  display: flex;
}

#infopage {
  flex-direction: column;
}

#infopage section {
  max-width: 600px;
  margin-top: 2rem;
  backdrop-filter: blur(10px);
  padding: 1rem;
}

.back {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.back:hover {
  color: white;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-thickness: 1px;
}
